@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

section,
main {
  max-width: 1100px;
  margin: auto;
  overflow-x: hidden;
  @apply px-4;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h6 {
  @apply text-sm;
}

p {
  @apply leading-loose text-gray-500;
}

.pry-btn {
  @apply py-4 px-6 bg-purple-700 text-white rounded-full font-bold;
}
.sm-pry-btn {
  @apply py-2 px-4 bg-purple-700 text-white rounded-full font-bold;
}
.sec-btn {
  @apply p-1 text-purple-700 font-bold;
}

section {
  @apply pt-24 md:py-8;
}
.swiper-slide {
  width: 60% !important;
  min-width: 280px !important;
  @apply pt-8;
}

@media (min-width: 600px) {
  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
  p {
    @apply text-lg leading-normal text-gray-400;
  }
  section {
    @apply py-20;
  }
  .swiper-slide {
    width: 50% !important;
  }
}
@media (min-width: 1000px) {
  .swiper-slide {
    width: 32% !important;
  }
}
